<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- <mapper namespace="com.xiness.mappers.BoardMapper">
  mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
        <select id="selectMember" resultType="com.example.dto.MemberVO" >
            SELECT ID, PW ,NAME FROM TEST
        </select>
        이렇게 해야 한다. 
    
    <select id="selectBoard" resultType="BoardVO">
        SELECT no, title, content, writer, datetime, option, pubpriv FROM boardtable
    </select>
    
</mapper> -->

<mapper namespace="com.xiness.mapper.BoardMapper">

	<resultMap type="com.xiness.dto.BoardVO" id="WriteInfoResult">
		<result column="datetime" property="datetime" />
		<result column="cate" property="cate" />
		<result column="source" property="source" />
		<result column="writer" property="writer" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="pubpriv" property="pubpriv" />
	</resultMap>
   
    <select id="selectBoard" resultType="BoardVO"> 
        SELECT * FROM boardtable 
        ORDER BY groupno DESC, depth ASC;
    </select>
    
    <insert id="insertBoard" parameterType="BoardVO">
    	INSERT INTO boardtable(datetime, cate, source, writer, title, content, pubpriv, indent, depth)
    	VALUES (#{datetime}, #{cate}, #{source}, #{writer}, #{title}, #{content}, #{pubpriv}, 0, 1)
    	<selectKey keyProperty="no" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>
    
    <update id="updateGroupNo" parameterType="int">
    	UPDATE boardtable SET groupno=#{no}
		WHERE no=#{no}
    </update>
    
    <select id="detailBoard" resultType="BoardVO">
		select no, datetime, cate, source, writer, title, content, pubpriv, groupno, indent, depth
		from boardtable where no=#{no}
	</select>
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM boardtable
		WHERE no=#{no};
	</delete>
	
	<update id="boardUpdate" parameterType="BoardVO">
		UPDATE boardtable
		SET WRITER=#{writer}, TITLE=#{title}, CONTENT=#{content}
		    , CATE=#{cate}, PUBPRIV=#{pubpriv}, SOURCE=#{source}
		WHERE NO=#{no}
	</update>
	
	<select id="selectParentInfo" parameterType="int" resultType="BoardVO"> 
        SELECT * FROM boardtable
        WHERE no=#{parentNo}
    </select>
    
    <insert id="replyInsert" parameterType="BoardVO">
    	INSERT INTO boardtable(datetime, cate, source, writer, title, content, pubpriv, groupno, indent, depth)
    	VALUES (#{datetime}, #{cate}, #{source}, #{writer}, #{title}, #{content}, #{pubpriv}, #{groupno}, (#{indent}+1), (#{depth}+1))
    </insert>
    
    <update id="updateDepthNo" parameterType="BoardVO"> 
    	UPDATE boardtable SET depth=depth+1
    	WHERE groupno=#{groupno} and depth>#{depth};
    </update>
    
    <select id="searchBoard" resultType="BoardVO" parameterType="string">
		select no, datetime, cate, source, writer, title, content, pubpriv, viewcnt
		from boardtable
		where title like concat('%',#{keyword},'%')
	</select>
	
	<!-- 페이징 및 전체 레코드 갯수 조회 쿼리 -->
	<select id="writeGetCount" resultType="int">
		select count(*) from
		boardtable;
	</select>
	<!-- 게시글 목록을 조회하기 위한 쿼리(일반, 공지사항) -->
	<select id="writeList" resultMap="WriteInfoResult"
		parameterType="hashmap">
		select * from boardtable ORDER BY no DESC LIMIT #{offset},
		#{noOfRecords}   <!-- offset위치부터 noOfRecords 수 만큼 select 하라! -->
	</select>

	<select id="writeInfoList" resultMap="WriteInfoResult">
		select * from boardtable
		where info = 1 ORDER BY no DESC
	</select>
    
</mapper>


