<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- <mapper namespace="com.xiness.mappers.BoardMapper">
  mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
        <select id="selectMember" resultType="com.example.dto.MemberVO" >
            SELECT ID, PW ,NAME FROM TEST
        </select>
        이렇게 해야 한다. 
    
    <select id="selectBoard" resultType="BoardVO">
        SELECT no, title, content, writer, datetime, option, pubpriv FROM boardtable
    </select>
    
</mapper> -->

<mapper namespace="com.xiness.mapper.BoardMapper">
   
    <select id="selectBoard" resultType="BoardVO"> 
        SELECT * FROM boardtable 
        ORDER BY groupno DESC, depth ASC;
    </select>
    
    <insert id="insertBoard" parameterType="BoardVO">
    	INSERT INTO boardtable(datetime, cate, source, writer, title, content, pubpriv, indent, depth)
    	VALUES (#{datetime}, #{cate}, #{source}, #{writer}, #{title}, #{content}, #{pubpriv}, 0, 1)
    	<selectKey keyProperty="no" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>
    
    <update id="updateGroupNo" parameterType="int">
    	UPDATE boardtable SET groupno=#{no}
		WHERE no=#{no}
    </update>
    
    <select id="detailBoard" resultType="BoardVO">
		select no, datetime, cate, source, writer, title, content, pubpriv, groupno, indent, depth
		from boardtable where no=#{no}
	</select>
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM boardtable
		WHERE no=#{no};
	</delete>
	
	<update id="boardUpdate" parameterType="BoardVO">
		UPDATE boardtable
		SET WRITER=#{writer}, TITLE=#{title}, CONTENT=#{content}
		    , CATE=#{cate}, PUBPRIV=#{pubpriv}, SOURCE=#{source}
		WHERE NO=#{no}
	</update>
	
	<select id="selectParentInfo" parameterType="int" resultType="BoardVO"> 
        SELECT * FROM boardtable
        WHERE no=#{parentNo}
    </select>
    
    <insert id="replyInsert" parameterType="BoardVO">
    	INSERT INTO boardtable(datetime, cate, source, writer, title, content, pubpriv, groupno, indent, depth)
    	VALUES (#{datetime}, #{cate}, #{source}, #{writer}, #{title}, #{content}, #{pubpriv}, #{groupno}, (#{indent}+1), (#{depth}+1))
    </insert>
    
    <update id="updateDepthNo" parameterType="BoardVO"> 
    	UPDATE boardtable SET depth=depth+1
    	WHERE groupno=#{groupno} and depth>#{depth};
    </update>
    
</mapper>


